<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title><% if @cid != 1 %><%=h @current_title %> | <% end %>QuakeMeme</title>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Amaranth:regular", :media => "all" %>
<%= stylesheet_link_tag "x.min.css", :media => "all" %>
<%= stylesheet_link_tag "styles.css", :media => "all" %>
<%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery/jquery-1.5.1.min.js" %>
<%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" %>
<%= javascript_include_tag "scripts.js" %>
</head>
<body>

<div class="wrapper">

<div class="header">
	<p class="headline">QuakeMemeは、Twitterでのつぶやきを元に地震関連サイトをまとめています。</p>
	<h1 class="tail"><a href="/">QuakeMeme</a></h1>
	<div class="nav">
		<ul class="cfx"
		<%- @cattree.each do |category| %>
			><li><%= link_to category[:name], { :type => @type, :category => @category_to_s[category[:id]] } %>
			<%- if !category[:children].empty? %>
			<ul>
				<%- category[:children].each do |category| %>
				<li><%= link_to category[:name], { :type => @type, :category => @category_to_s[category[:id]] } %>			<%- if !category[:children].empty? %>
				<ul>
					<%- category[:children].each do |category| %>
					<li><%= link_to category[:name], { :type => @type, :category => @category_to_s[category[:id]] } %></li>
					<%- end %>
				</ul>
				<%- end %>
				</li>
				<%- end %>
			</ul>
			<%- end %>
			</li
		<%- end %>
		></ul>
	</div>
</div>

<div class="contents cfx">

<div class="main">
	<h2><%=h @current_title %></h2>
	<div class="pages">
		<noscript><p>JavaScriptを有効にしてください。</p></noscript>
	</div>
</div>

<div class="side">
	<div class="section" id="about">
		<h2>QuakeMemeとは</h2>
		<p>QuakeMemeは、Twitterに投稿された地震関係のつぶやきを分析し、地震関連情報のサイトを整理します。</p>
		<p>カテゴリごとに、カテゴリに関連するキーワードでツイートを全文検索し、カテゴリに含まれるサイトを特定しています。また、各カテゴリはつぶやき(Tweet)の数によってランキングが行われています。</p>
		<p>現在、サービス品質の向上に向けて、信頼性の高いツイートのクロールや検索精度の向上に向けた改善を実装中です。</p>
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fquakememe.jp%2F&amp;layout=standard&amp;show_faces=true&amp;width=350&amp;action=like&amp;font&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:350px;height:30px;" allowTransparency="true"></iframe>
	</div>
	<div class="section" id="donation">
		<h2>義援金</h2>
		<ul>
			<li><a href="http://www.jrc.or.jp/contribution/l3/Vcms3_00002069.html">日本赤十字社</a></li>
			<li><a href="http://www.giveone.net/cp/pg/TopPage.aspx">GiveOne</a></li>
		</ul>
	</div>
	<div class="section" id="outside-bujime">
		<h2>buji.me</h2>
		<script type="text/javascript" src="http://175.41.248.123/widget/js/blogparts.js"></script>
	</div>
	<div class="section" id="outside-googlepersonfinder">
		<h2>Google Person Finder</h2>
		<iframe src="http://japan.person-finder.appspot.com/?small=yes&lang=ja" width="400" height="300" frameborder="0"></iframe>
	</div>
	<div class="section" id="resources">
		<h2>災害情報</h2>
		<ul>
			<li><a href="http://www.kantei.go.jp/saigai/">東北地方太平洋沖地震への対応 -首相官邸ホームページ-</a></li>
			<li><a href="http://www.mlit.go.jp/saigai/index.html">災害情報 - 国土交通省</a></li>
			<li><a href="http://www.jma.go.jp/jp/tsunami/">気象庁 津波警報・注意報</a></li>
			<li><a href="http://rescue.yahoo.co.jp/">Yahoo!災害情報</a></li>
			<li><a href="http://goo.gl/saigai">東日本大震災 - Google Crisis Response</a></li>
		</ul>
	</div>
</div>

</div>

<div class="footer">
	<p><a href="/">ホーム</a> | <a href="http://preferred.jp/">運営会社</a></p>
	<p>Copyright &copy; 2011 <a href="http://preferred.jp/">Preferred Infrastructure</a></p>
</div>

</div>

<script type="text/x-jquery-tmpl" id="tmpl-page">
<div class="page cfx">
	<div class="meta">
		<p class="count tail"><a href="${search_url}"><b>${count}</b><br />tweets</a></p>
		<p class="share"><a href="${tweet_url}" target="_blank">ReTweet</a></p>
	</div>
	<div class="body cfx">
		{{if thumb_url}}
		<p class="thumb"><a href="${url}"><img src="${thumb_url}" width="80" /></a></p>
		{{/if}}
		<h3><a href="${url}"><img src="http://${domain}/favicon.ico" alt="" width="16" height="16" onerror="this.parentNode.removeChild(this)" />${title}</a></h3>
		<p class="domain"><a href="${url}">${domain}</a></p>
		{{if description}}
		<p class="text">${description}</p>
		{{/if}}
	</div>
</div>
</script>

<form name="options" style="display:none">
	<%= hidden_field_tag "cid", @cid %>
	<%= hidden_field_tag "type", @type %>
	<%= hidden_field_tag "contents_url", "/api/get_contents?callback=?" %>
	<%= hidden_field_tag "last_id", "0" %>
	<%= hidden_field_tag "interval", "180" %>
</form>

<%- if RAILS_ENV == 'production' -%>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22148761-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<%- end -%>

</body>
</html>

