<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>QuakeMeme</title>
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet" type="text/css" >
<%= stylesheet_link_tag "x.min.css", :media => "all" %>
<%= stylesheet_link_tag "styles.css", :media => "all" %>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<%= javascript_include_tag "scripts.js" %>
</head>
<body>

<div class="wrapper">

<div class="header">
	<h1>Quake Meme</h1>
	<div class="nav">
		<ul class="cfx">
		<%- @cattree.each do |category| %>
			<li><%= link_to category[:name], { :type => @type, :category => @category_to_s[category[:id]] } %>
			<% if !category[:children].empty? %><ul>
				<%- category[:children].each do |category| %>
				<li><%= link_to category[:name], { :type => @type, :category => @category_to_s[category[:id]] } %></li>
				<%- end %>
			</ul><% end %>
			</li>
		<%- end %>
		</ul>
	</div>
</div>

<div class="contents">

<div class="pages">
<noscript>JavaScriptを有効にしてください。</noscript>
</div>

</div>

<div class="footer">
	<p>footer</p>
</div>

</div>

<script type="text/x-jquery-tmpl" id="tmpl-page">
<div class="page cfx">
	<div class="meta">
		<p class="count">${count}<br />tweets</p>
	</div>
	<h2><a href="${url}">${title}</a></h2>
	<p class="text">${description}</p>
</div>
</script>

<form name="options" style="display:none">
	<%= hidden_field_tag "cid", @cid %>
	<%= hidden_field_tag "type", @type %>
	<%= hidden_field_tag "last_id", "0" %>
	<%= hidden_field_tag "interval", "10" %>
</form>

</body>
</html>

